@import "../../styles.scss";

.main-header{
	background: #f8f8f8;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0 1em;
	border-bottom: 1px solid $primary-color;
	
	@media screen and(max-width: 768px){
		flex-direction: column;
		border: none;
		padding: 0;
	}
	.main-logo{
		display:flex;
		align-items:center;
		width: 30%;
		
		@media screen and(max-width: 768px){
			justify-content:center;
			align-items: center;
			width: 100%;
			margin: .5em 0;
	}
		&__title{
			padding-left: .5em;
			font-size: 1.5em;
			color: $primary-color;
			@media screen and(max-width: 768px){
				display:none;
			}
		}
	}
	#button-menu{
		display:none;
		width: 100%;
		background: $primary-color;
		padding: 1em;
		color: $white;
		cursor: pointer;
		font-size: 1.2em;
		border-bottom: 1px solid $white;
		@media screen and(max-width: 480px){
			display: block;
		}
	}
	.main-nav{
		width: 70%;
		display: flex;
		justify-content: flex-end;
		
		@media screen and(max-width: 768px){
			justify-content: center;
			width: 100%;
			background: $primary-color;
		}
		@media screen and(max-width: 480px){
			display:none;
		}
		
		.main-menu{
			display: flex;
			@media screen and(max-width: 480px){
				flex-direction:column;
				width: 100%;
			}
			&__item{
				margin-right: 1px;
			}
			&__link{
				display: block;
				color: $primary-color;
				padding: 0 20px;
				// font-family: 'Open Sans';
				font-size: .83em;
				font-weight: normal;
				text-transform: uppercase;
				height: 70px;
				line-height: 70px;
				transition: all .5s;
				
				&:hover{
					background: $primary-color;
					color: $white;
					@media screen and(max-width: 768px){
						background: rgba(#000,.2);
					}
				}
				@media screen and(max-width: 768px){
					color: $white;
					border-bottom: 1px solid rgba($white,.1);
				}
					@media screen and(max-width: 480px){
					color: $white;
					padding-left:1em;
					border-bottom: 1px solid rgba($white,.1);
					font-size: .8em;
					letter-spacing: 1px;
					&:hover{
						padding-left:3em;
					}
				}
			}
		}
		.active{
				background: $primary-color;
				color: $white;
				font-weight: bold;
				font-size: .8em;
		}
		&.close{
			display: none;
		}
		&.opend{
			display: block;
		}
	}
}
