/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$primary-color: #01ACC1;
$white: #fff;

*{
  font-family: sans-serif;
	box-sizing: border-box;
	list-style: none;
	text-decoration:none;
}

body{
	display        : flex;
  flex-direction : column;
  min-height     : 100vh;
	background: #f3f3f3;
}